<tr>
  <th><%= form.label :name %></th>
  <td><%= form.text_field :name, :size => 32 %></td>
</tr>
<tr>
  <th><%= form.label :description %></th>
  <td><%= form.text_area :description, :rows => 4, :cols => 32 %></td>
</tr>
<tr>
  <th><%= form.label :max_players %></th>
  <td><%= form.text_field :max_players, :size => 4 %></td>
</tr>
