<h1>Boards#edit: <%=h @board.name %></h1>

<%= javascript_tag "var layout = #{@board.layout_text.to_json};" %>

<% form_for @board do |f| %>
<%= f.error_messages %>
<table class="formTable"><tbody>
  <%= render :partial => "form", :object => f %>
  <tr>
    <td colspan="2"><%= f.hidden_field :layout_text_json %>
    <table id="boardEdit"><tbody>
      <tr>
        <td class="layout">
          <table class="board">
            <tbody id="board_layout"></tbody>
          </table>
        </td>
        <td class="pieces">
          <h3>Board Pieces</h3>
          <p><i>Drag and drop to edit layout.</i></p>
          <div id="boardElements" class="board">
            <div>
              <%= board_draggable :blank %>
              <%= board_draggable :start %>
              <%= board_draggable :pit %>
              <div class="empty"></div>
              <%= board_draggable :gear_l %>
              <%= board_draggable :gear_r %>
            </div>
            <div>
              <%= board_draggable :belt_n_1 %>
              <%= board_draggable :belt_s_1 %>
              <%= board_draggable :belt_e_1 %>
              <%= board_draggable :belt_w_1 %>
              <%= board_draggable :belt_n_2 %>
              <%= board_draggable :belt_s_2 %>
              <%= board_draggable :belt_e_2 %>
              <%= board_draggable :belt_w_2 %>
            </div>
            <div>
              <%= board_draggable :turn_n_l %>
              <%= board_draggable :turn_s_l %>
              <%= board_draggable :turn_e_l %>
              <%= board_draggable :turn_w_l %>
              <%= board_draggable :turn_n_l_2 %>
              <%= board_draggable :turn_s_l_2 %>
              <%= board_draggable :turn_e_l_2 %>
              <%= board_draggable :turn_w_l_2 %>
            </div>
            <div>
              <%= board_draggable :turn_n_r %>
              <%= board_draggable :turn_s_r %>
              <%= board_draggable :turn_e_r %>
              <%= board_draggable :turn_w_r %>
              <%= board_draggable :turn_n_r_2 %>
              <%= board_draggable :turn_s_r_2 %>
              <%= board_draggable :turn_e_r_2 %>
              <%= board_draggable :turn_w_r_2 %>
            </div>
          </div>
        </td>
      </tr>
    </tbody></table>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Save" %></td>
  </tr>
</tbody></table>
<% end %>

<%= javascript_tag "edit_board_layout('board_layout', 'board_layout_text_json')" %>
