<h1>Boards#edit: <%=h @board.name %></h1>

<%= javascript_tag "var layout = #{@board.layout_text.to_json};" %>

<% form_for @board do |f| %>
<%= f.error_messages %>
<table class="formTable"><tbody>
  <%= render :partial => "form", :object => f %>
  <tr>
    <td colspan="2"><%= f.hidden_field :layout_text_json %>
    <table id="boardEdit"><tbody>
      <tr>
        <td class="layout">
          <table class="board">
            <tbody id="board_layout"></tbody>
          </table>
        </td>
        <td class="pieces">
          <table id="board_pieces" class="board"><tbody>
            <tr>
              <th colspan="4">
                Board Pieces:<br /><i>Drag and drop to edit layout.</i>
              </th>
            </tr>
          <tr>
            <%= board_draggable :blank %>
            <%= board_draggable :start %>
          </tr>
          <tr>
            <%= board_draggable :belt_n_1 %>
            <%= board_draggable :belt_s_1 %>
            <%= board_draggable :belt_e_1 %>
            <%= board_draggable :belt_w_1 %>
          </tr>
          <tr>
            <%= board_draggable :belt_n_2 %>
            <%= board_draggable :belt_s_2 %>
            <%= board_draggable :belt_e_2 %>
            <%= board_draggable :belt_w_2 %>
          </tr>
        </tbody></table>
      </td>
      </tr>
    </tbody></table>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Save" %></td>
  </tr>
</tbody></table>
<% end %>

<%= javascript_tag "edit_board_layout('board_layout', 'board_layout_text_json')" %>
