<h1>Boards#new</h1>

<% form_for @board do |f| %>
<%= f.error_messages %>
<table class="formTable"><tbody>
  <%= render :partial => "form", :object => f %>
  <tr>
    <th></th>
    <td>
      <%= f.label :rows %> <%= f.text_field :rows, :size => 4 %>
      <%= f.label :columns %> <%= f.text_field :columns, :size => 4 %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Create" %></td>
  </tr>
</tbody></table>
<% end %>
